<% unless user_signed_in? %>
  <h1>Welcome to ShareBox</h1>
  <p>For sharing love and rainbows.</p>
    
<% else %>

<% unless @is_this_folder_being_shared %>
  <nav id="menu">
    <ul>
    <% if @current_folder %>
      <li><%= link_to "Upload", new_sub_file_path(@current_folder) %></li>
      <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li>
    <% else %>
      <li><%= link_to "Upload", new_asset_path %></li>    
      <li><%= link_to "New Folder", new_folder_path %></li>
    <% end %>
    </ul>
  </nav>
<% else %>
  <h3>This folder is being shared to you by <%= @current_folder.user.name %></h3>
<% end %>

  <%= render :partial => "breadcrumbs" %>

  <table cellpadding="0" cellspacing="0" id="asset-listing">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Size</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
    <% @being_shared_folders.each do |folder| %>
      <tr class="folder-list shared-with-folders" id="folder_<%= folder.id %>">
        <td><%= link_to folder.name, browse_path(folder) %></td>
        <td>-</td>
        <td>-</td>
        <td></td>
      </tr>
    <% end %>
    <% @folders.each do |folder| %>
      <tr class="folder-list <%= folder.shared? ? 'shared_folder' : 'folder' %>" id="folder_<%= folder.id %>">
        <td><%= link_to folder.name, browse_path(folder) %></td>
        <td>-</td>
        <td>-</td>
        <td class="actions">
          <ul>
            <li class="share"><%= link_to "Share", "#", 'data-folder-id' => folder.id, 'data-folder-name' => folder.name unless @is_this_folder_being_shared %></li>
            <li class="rename"><%= link_to "Rename", rename_folder_path(folder) unless @is_this_folder_being_shared %></li>
            <li class="delete"><%= link_to "Delete", folder, :confirm => "Are you sure you want to delete the folder and all of its contents?", :method => :delete unless @is_this_folder_being_shared %></li>
          </ul>
        </td>
      </tr>
    <% end %>
      
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.file_name, download_url(asset) %></td>
        <td><%= number_to_human_size(asset.file_size, :precision => 3) %></td>
        <td><%= asset.uploaded_file_updated_at %></td>
        <td class="actions">
          <ul>
            <li class="download"><%= link_to "Download", download_url(asset) %></li>
            <li class="delete"><%= link_to "Delete", asset, :confirm => "Are you sure?", :method => :delete unless @is_this_folder_being_shared %></li>
          </ul>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <!-- Invitations -->
  <div id="invitation_form" data-title="Invite others to share">
    <%= form_tag 'home/share' do %>
      <label for="email_addresses">Enter recipient email addresses</label>
      <%= text_field_tag 'email_addresses', "", :class => 'text ui-widget-content ui-corner-all' %>
      <label for="message">Optional message</label>
      <%= text_area_tag 'message', "", :class => 'text ui-widget-content ui-corner-all' %>
      <%= hidden_field_tag "folder_id" %>
    <% end %>
  </div>
<% end %>