<% unless user_signed_in? %>
  <h1>Welcome to ShareBox</h1>
  <p>For sharing love and rainbows.</p>
    
<% else %>

  <nav id="menu">
    <ul>
      <li><%= link_to "Upload", new_asset_path %></li>
    <% if @current_folder %>
      <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li>
    <% else %>
      <li><%= link_to "New Folder", new_folder_path %></li>
    <% end %>
    </ul>
  </nav>

  <%= render :partial => "breadcrumbs" %>

  <table cellpadding="0" cellspacing="0" id="asset-listing">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Size</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
    <% @folders.each do |folder| %>
      <tr class="folder-list">
        <td><%= link_to folder.name, browse_path(folder) %></td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% end %>
      
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.file_name, download_url(asset) %></td>
        <td><%= number_to_human_size(asset.file_size, :precision => 3) %></td>
        <td><%= asset.uploaded_file_updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>