<%= form_for @asset, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :uploaded_file, "File" %>
    <%= f.file_field :uploaded_file %>
  </p>
  <p><%= f.submit "Upload" %> <%= link_to "Back to List", root_url, :class => "back-cancel" %></p>
<% end %>
